header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .inner-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // padding: 0rem 1rem;
    }

    nav {
        width: 100%;
    }

    .hide {
        display: none;
    }

    // .navClosed {
    //     .hamburger-react &:nth-child(1) {
    //         background-color: red;
    //     }
    // }

    
    ul {
        padding: 0;
        background-color: rgb(204, 204, 204);
    }

    li {
        list-style: none;
        text-align: center;
        margin: 0;
    }

    h1 a {
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
            color: green;
        }
    }

    @media ( min-width: 37.5em ) {

        flex-wrap: nowrap;

        .inner-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 0rem 1rem;
        }

        .hide {
            display: block;
        }

        .hamburger-react {
            display: none;
        }

        ul {
            display: flex;
            justify-content: flex-end;
        }
    }
    
}