header {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        z-index: 99999;
        margin: 1rem;
        a {
            margin: 0.5rem;
            font-size: 1.8rem;
        }
        
    }

    .app-logo-wrapper {
        display: flex;
        align-items: center;
        width: 2.5rem;
        
        img {
            width: 100%;
            height: auto;
            z-index: 99999;
        }
    }

    nav {
        z-index: 9999;
        position: absolute;
        top: 6rem;
        background-color: lightgrey;
        width: 100%;
    }

    .hide {
        display: none;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        text-align: center;
        margin: 0;
    }


    a {
        color: rgb(46 199 255);
        text-decoration: none;
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
            color: white;
        }
    }

    @media ( min-width: 37.5em ) {

        flex-wrap: nowrap;

        nav {
            position: absolute;
            top: 1rem;
            background-color: transparent;
            width: 100%;

            ul {
                margin-right: 2rem;
            }
        }

        .inner-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 0rem 1rem;
        }

        .hide {
            display: block;
        }

        .hamburger-react {
            display: none;
        }

        ul {
            display: flex;
            justify-content: flex-end;
        }
    }
    
}